.ErrorTable {
  transition: opacity 0.2s ease;
}

.ErrorTable tr {
  cursor: pointer;
}

.ErrorTable > table > tbody > tr.highlighted {
  background: #666;
  color: white;
}

.ErrorTable h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  color: #999;
  margin-top: 0;
}

.ErrorTable h2 button {
  border: none;
  background: none;
  margin: 0 0.5em;
}

.ErrorTable h2 button:disabled {
  opacity: 0.3;
}

.ErrorTable.loading {
  opacity: 0.4;
  pointer-events: none;
}
